<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>MobCar - Alugar Carros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- importando o arquivo css do Bootstrap --> 
  <link rel="stylesheet" href="/css/bootstrap.min.css">
 </head>
 <body>
 	<div class="container nav justify-content-end">
   <a href="/listCarros" class="btn btn-primary mt-2">Voltar</a>
   </div>

   <div class="container">
 	 <h2 class="text-center text-uppercase p-2 mt-3 bg-light text-success rounded ">Carro reservado com sucesso!</h2>
 	</div>

 	<div class="container nav justify-content-center">
   <a href="#" class="btn btn-success text-uppercase mt-5 py-1 px-5"><h4>Pagar</h4></a>
   </div>
 </body>
 </html>

<!-- importando o arquivo js do Bootstrap -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>